## Import Data and Libraries

In [22]:
# Import libraries
import pandas as pd
import numpy as np

In [25]:
# Import data
path = "Data/UTF_Data4.csv"
df = pd.read_csv(path, sep=';')
df = df.replace("-",np.nan)
df.head(3)

,Company name,Org. no,Last annual report,Currency,"Num. of employees, stock company 2020 (pcs)","Num. of employees, stock company 2019 (pcs)","Num. of employees, stock company 2018 (pcs)","Num. of employees, stock company 2017 (pcs)","Num. of employees, stock company 2016 (pcs)","Num. of employees, stock company 2015 (pcs)",...,Debt/equity ratio 2019 (%),Debt/equity ratio 2018 (%),Debt/equity ratio 2017 (%),Debt/equity ratio 2016 (%),Debt/equity ratio 2015 (%),Debt/equity ratio 2014 (%),Debt/equity ratio 2013 (%),Debt/equity ratio 2012 (%),Debt/equity ratio 2011 (%),Debt/equity ratio 2010 (%)
0,Ekman Invest Holding AB,5567121602,201912,SEK,NaN,301,0,283,279,43,...,"6,72","6,91","5,23","5,41","5,15","7,64","6,14","5,71","5,97","4,94"
1,Axfood Snabbgross AB,5560003575,201912,SEK,NaN,411,401,384,365,335,...,"8,44","12,06","12,1","15,42","15,66","11,61","10,54","12,19","13,16","15,34"
2,LWW Group AB,5565295333,201912,SEK,NaN,347,361,337,332,340,...,"1,91","1,77","1,77","1,1","0,87","1,12","1,05","1,02","0,29","0,33"

## Data Cleansing

### Get overview

In [26]:
# Get overview
print("Shape of the dataset:", df.shape)

df.describe(include="all")

Shape of the dataset: (908, 81)

,Company name,Org. no,Last annual report,Currency,"Num. of employees, stock company 2020 (pcs)","Num. of employees, stock company 2019 (pcs)","Num. of employees, stock company 2018 (pcs)","Num. of employees, stock company 2017 (pcs)","Num. of employees, stock company 2016 (pcs)","Num. of employees, stock company 2015 (pcs)",...,Debt/equity ratio 2019 (%),Debt/equity ratio 2018 (%),Debt/equity ratio 2017 (%),Debt/equity ratio 2016 (%),Debt/equity ratio 2015 (%),Debt/equity ratio 2014 (%),Debt/equity ratio 2013 (%),Debt/equity ratio 2012 (%),Debt/equity ratio 2011 (%),Debt/equity ratio 2010 (%)
count,908,9.080000e+02,907,908,5,828,888,877,857,841,...,828,888,877,857,841,815,781,622,499,486
unique,908,NaN,26,5,1,235,284,314,309,315,...,402,426,424,402,388,390,382,381,363,353
top,POLARICA HOLDING AB,NaN,201912,SEK,200,200,200,200,200,200,...,0,0,0,0,0,0,0,0,"0,6",0
freq,1,NaN,702,593,5,250,243,245,243,232,...,241,246,249,245,236,227,213,65,5,8
mean,NaN,3.710139e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.552399e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.008975e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,7.489792e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,5.562348e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,5.566133e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,5.591762e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove missing values
1. List/plot the number of missing values for each column
2. Remove columns with many missing values
3. Then remove all rows with missing values

When done, use .describe() again and see the changes

In [28]:
def removeRareColumns(df, threshold=0.91):
    dfLength = len(df)
    for column in df:
        count = df[column].count()
        percent = count / dfLength

        if percent < threshold:
            print(column)
            df = df.drop(column, axis=1)
        else:
            pass
    return df

df = removeRareColumns(df)

Num. of employees, stock company 2020 (pcs)
Num. of employees, stock company 2014 (pcs)
Num. of employees, stock company 2013 (pcs)
Num. of employees, stock company 2012 (pcs)
Num. of employees, stock company 2011 (pcs)
Num. of employees, stock company 2010 (pcs)
EBITDA 2020 (k)
EBITDA 2014 (k)
EBITDA 2013 (k)
EBITDA 2012 (k)
EBITDA 2011 (k)
EBITDA 2010 (k)
Gross profit/loss 2020 (k)
Gross profit/loss 2014 (k)
Gross profit/loss 2013 (k)
Gross profit/loss 2012 (k)
Gross profit/loss 2011 (k)
Gross profit/loss 2010 (k)
R & D costs 2020 (k)
R & D costs 2014 (k)
R & D costs 2013 (k)
R & D costs 2012 (k)
R & D costs 2011 (k)
R & D costs 2010 (k)
Total assets 2020 (k)
Total assets 2014 (k)
Total assets 2013 (k)
Total assets 2012 (k)
Total assets 2011 (k)
Total assets 2010 (k)
Quick ratio 2020 (%)
Quick ratio 2014 (%)
Quick ratio 2013 (%)
Quick ratio 2012 (%)
Quick ratio 2011 (%)
Quick ratio 2010 (%)
Debt/equity ratio 2020 (%)
Debt/equity ratio 2014 (%)
Debt/equity ratio 2013 (%)
Debt/equity ratio 2012 (%)
Debt/equity ratio 2011 (%)
Debt/equity ratio 2010 (%)

### Remove outliers 
Use winzorization:

df = winDf.clip(df.quantile(0.05), df.quantile(0.95), axis=1)

### One-hot encode the columns with text or categorical values
Probably not necessary for our case

### If needed, calculate predictor column

### Make some interesting plots (can be skipped)

# Modeling