In [10]:
import pandas as pd

In [12]:
df = pd.read_csv('../Data/UTF_Data4.csv', sep=';')
df

,Company name,Org. no,Last annual report,Currency,"Num. of employees, stock company 2020 (pcs)","Num. of employees, stock company 2019 (pcs)","Num. of employees, stock company 2018 (pcs)","Num. of employees, stock company 2017 (pcs)","Num. of employees, stock company 2016 (pcs)","Num. of employees, stock company 2015 (pcs)",...,Debt/equity ratio 2019 (%),Debt/equity ratio 2018 (%),Debt/equity ratio 2017 (%),Debt/equity ratio 2016 (%),Debt/equity ratio 2015 (%),Debt/equity ratio 2014 (%),Debt/equity ratio 2013 (%),Debt/equity ratio 2012 (%),Debt/equity ratio 2011 (%),Debt/equity ratio 2010 (%)
0,Ekman Invest Holding AB,5567121602,201912,SEK,-,301,0,283,279,43,...,"6,72","6,91","5,23","5,41","5,15","7,64","6,14","5,71","5,97","4,94"
1,Axfood Snabbgross AB,5560003575,201912,SEK,-,411,401,384,365,335,...,"8,44","12,06","12,1","15,42","15,66","11,61","10,54","12,19","13,16","15,34"
2,LWW Group AB,5565295333,201912,SEK,-,347,361,337,332,340,...,"1,91","1,77","1,77","1,1","0,87","1,12","1,05","1,02","0,29","0,33"
3,Atteviks Bil Aktiebolag,5562130400,201912,SEK,-,453,443,434,419,407,...,"0,93","0,77","1,04","1,07","1,31","1,07","0,76","0,87","1,03","1,34"
4,SINKABERG INVEST AS,988947857,201912,NOK,-,242,228,0,0,0,...,"0,45","0,46","0,43","0,58","0,6","0,65","0,8","0,63",-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,G. TSCHERNING A/S,26378443,202004,DKK,-,200,200,200,200,200,...,0,0,0,0,0,0,0,0,-,-
904,TL BYG A/S,74101119,201906,DKK,-,200,-,200,200,200,...,0,-,0,0,0,0,0,-,-,-
905,ONEPARK AS,998638984,201912,NOK,-,202,0,185,58,0,...,"1,96","4,04","1,41","0,57","11,38","5,12","3,6","0,6",-,-
906,SAIPEM DRILLING NORWAY AS,998277418,201912,EUR,-,224,190,230,223,225,...,"18,5","17,43",-238 454,"15,5","2,48","4,66","2,56","2,79",-,-
907,NSB TRAFIKKSERVICE AS,983581048,201912,NOK,-,272,263,274,277,266,...,"30,33","8,2",-6,"-7,76","-9,95","-6,37","-5,24","2,94",-,-