## Import Data and Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Import data
path = "Data/UTF_Data4.csv"
df = pd.read_csv(path, sep=';')
df = df.replace("-",np.nan)
df = df.replace("0",np.nan)
df.head(3)

,Company name,Org. no,Last annual report,Currency,"Num. of employees, stock company 2020 (pcs)","Num. of employees, stock company 2019 (pcs)","Num. of employees, stock company 2018 (pcs)","Num. of employees, stock company 2017 (pcs)","Num. of employees, stock company 2016 (pcs)","Num. of employees, stock company 2015 (pcs)",...,Debt/equity ratio 2019 (%),Debt/equity ratio 2018 (%),Debt/equity ratio 2017 (%),Debt/equity ratio 2016 (%),Debt/equity ratio 2015 (%),Debt/equity ratio 2014 (%),Debt/equity ratio 2013 (%),Debt/equity ratio 2012 (%),Debt/equity ratio 2011 (%),Debt/equity ratio 2010 (%)
0,Ekman Invest Holding AB,5567121602,201912,SEK,NaN,301,NaN,283,279,43,...,"6,72","6,91","5,23","5,41","5,15","7,64","6,14","5,71","5,97","4,94"
1,Axfood Snabbgross AB,5560003575,201912,SEK,NaN,411,401,384,365,335,...,"8,44","12,06","12,1","15,42","15,66","11,61","10,54","12,19","13,16","15,34"
2,LWW Group AB,5565295333,201912,SEK,NaN,347,361,337,332,340,...,"1,91","1,77","1,77","1,1","0,87","1,12","1,05","1,02","0,29","0,33"

## Data Cleansing

### Get overview

In [3]:
# Get overview
print("Shape of the dataset:", df.shape)

df.describe(include="all")

Shape of the dataset: (908, 81)

,Company name,Org. no,Last annual report,Currency,"Num. of employees, stock company 2020 (pcs)","Num. of employees, stock company 2019 (pcs)","Num. of employees, stock company 2018 (pcs)","Num. of employees, stock company 2017 (pcs)","Num. of employees, stock company 2016 (pcs)","Num. of employees, stock company 2015 (pcs)",...,Debt/equity ratio 2019 (%),Debt/equity ratio 2018 (%),Debt/equity ratio 2017 (%),Debt/equity ratio 2016 (%),Debt/equity ratio 2015 (%),Debt/equity ratio 2014 (%),Debt/equity ratio 2013 (%),Debt/equity ratio 2012 (%),Debt/equity ratio 2011 (%),Debt/equity ratio 2010 (%)
count,908,9.080000e+02,907,908,5,826,853,853,833,808,...,587,642,628,612,605,588,568,557,496,478
unique,908,NaN,26,5,1,234,283,313,308,314,...,401,425,423,401,387,389,381,380,362,352
top,Apple Retail Sweden AB,NaN,201912,SEK,200,200,200,200,200,200,...,"1,09","0,89","1,1","1,85","0,87","1,07","1,53","1,13","0,6","1,91"
freq,1,NaN,702,593,5,250,243,245,243,232,...,6,6,5,6,7,6,6,5,5,5
mean,NaN,3.710139e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.552399e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.008975e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,7.489792e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,5.562348e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,5.566133e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,5.591762e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove missing values
1. List/plot the number of missing values for each column
2. Remove columns with many missing values
3. Then remove all rows with missing values

When done, use .describe() again and see the changes

In [4]:
def removeRareColumns(df, threshold=0.80):
    dfLength = len(df)
    for column in df:
        count = df[column].count()
        percent = count / dfLength

        if percent < threshold:
            print(column)
            df = df.drop(column, axis=1)
        else:
            pass
    return df

df = removeRareColumns(df)

Num. of employees, stock company 2020 (pcs)
Num. of employees, stock company 2012 (pcs)
Num. of employees, stock company 2011 (pcs)
Num. of employees, stock company 2010 (pcs)
EBITDA 2020 (k)
EBITDA 2012 (k)
EBITDA 2011 (k)
EBITDA 2010 (k)
Gross profit/loss 2020 (k)
Gross profit/loss 2019 (k)
Gross profit/loss 2018 (k)
Gross profit/loss 2017 (k)
Gross profit/loss 2016 (k)
Gross profit/loss 2015 (k)
Gross profit/loss 2014 (k)
Gross profit/loss 2013 (k)
Gross profit/loss 2012 (k)
Gross profit/loss 2011 (k)
Gross profit/loss 2010 (k)
R & D costs 2020 (k)
R & D costs 2019 (k)
R & D costs 2018 (k)
R & D costs 2017 (k)
R & D costs 2016 (k)
R & D costs 2015 (k)
R & D costs 2014 (k)
R & D costs 2013 (k)
R & D costs 2012 (k)
R & D costs 2011 (k)
R & D costs 2010 (k)
Total assets 2020 (k)
Total assets 2012 (k)
Total assets 2011 (k)
Total assets 2010 (k)
Quick ratio 2020 (%)
Quick ratio 2012 (%)
Quick ratio 2011 (%)
Quick ratio 2010 (%)
Debt/equity ratio 2020 (%)
Debt/equity ratio 2019 (%)
Debt/equity ratio 2018 (%)
Debt/equity ratio 2017 (%)
Debt/equity ratio 2016 (%)
Debt/equity ratio 2015 (%)
Debt/equity ratio 2014 (%)
Debt/equity ratio 2013 (%)
Debt/equity ratio 2012 (%)
Debt/equity ratio 2011 (%)
Debt/equity ratio 2010 (%)

In [5]:
df.dropna()

,Company name,Org. no,Last annual report,Currency,"Num. of employees, stock company 2019 (pcs)","Num. of employees, stock company 2018 (pcs)","Num. of employees, stock company 2017 (pcs)","Num. of employees, stock company 2016 (pcs)","Num. of employees, stock company 2015 (pcs)","Num. of employees, stock company 2014 (pcs)",...,Total assets 2015 (k),Total assets 2014 (k),Total assets 2013 (k),Quick ratio 2019 (%),Quick ratio 2018 (%),Quick ratio 2017 (%),Quick ratio 2016 (%),Quick ratio 2015 (%),Quick ratio 2014 (%),Quick ratio 2013 (%)
1,Axfood Snabbgross AB,5560003575,201912,SEK,411,401,384,365,335,316,...,331 720,288 487,236 497,"27,6","34,7","30,6","42,9","49,1","51,4","35,5"
2,LWW Group AB,5565295333,201912,SEK,347,361,337,332,340,346,...,777 425,868 339,816 246,81,"86,3",88,110,"121,8","104,4","97,5"
3,Atteviks Bil Aktiebolag,5562130400,201912,SEK,453,443,434,419,407,344,...,894 424,723 909,606 718,"124,5","134,9","89,9","101,1","77,3",83,"87,8"
5,GIPEJO Förvaltnings Aktiebolag,5563246312,201912,SEK,272,245,203,193,172,154,...,736 550,542 758,408 265,"40,9","41,5","37,9","42,8","42,8",50,"56,4"
6,Bröderna Börjessons Bil Aktiebolag,5561762864,201912,SEK,399,399,275,234,230,222,...,749 059,578 237,463 515,"73,5","67,7","71,2","78,5","110,8","95,6","87,4"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901,EGONS A/S,33053835,201912,DKK,200,200,200,200,200,100,...,78 335,64 346,75 321,"1,35","1,26","1,29","1,2","1,17","0,84","0,75"
902,DEICHMANN-SKO ApS,27278388,201912,DKK,200,200,200,200,200,200,...,78 128,82 056,94 092,"4,48","4,67","2,64","2,59","2,87","2,23","1,85"
903,G. TSCHERNING A/S,26378443,202004,DKK,200,200,200,200,200,200,...,123 125,124 368,96 692,"1,29","1,23","1,15","1,17","0,9","0,99","1,08"
906,SAIPEM DRILLING NORWAY AS,998277418,201912,EUR,224,190,230,223,225,229,...,814 708,841 531,1 040 811,"0,11","2,3","9,83","2,34","1,23","0,34","0,33"
907,NSB TRAFIKKSERVICE AS,983581048,201912,NOK,272,263,274,277,266,261,...,77 375,63 016,68 453,"3,27","3,28","1,74","1,84","1,68","1,36","1,41"

### Remove outliers 
Use winzorization:

df = winDf.clip(df.quantile(0.05), df.quantile(0.95), axis=1)

### One-hot encode the columns with text or categorical values
Probably not necessary for our case

### If needed, calculate predictor column

### Make some interesting plots (can be skipped)

# Modeling